{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<!--==========================
        BREADCRUMB AREA START
    ===========================-->

<!--==========================
        BREADCRUMB AREA END
    ===========================-->

<!--==========================
        ABOUT US PAGE 02 START
    ===========================-->
<section class="about_us pt_200 xs_pt_100 pb_120 xs_pb_100">
    <div class="container">
       
        <div class="row">
            <div class="col-lg-5 wow fadeInLeft">
                <div class="about_us_2_img">
                    <img src="https://www.silive.com/resizer/g0DT6RekjNg65iAsZhUYfBXQ-fk=/1280x0/smart/advancelocal-adapter-image-uploads.s3.amazonaws.com/expo.advance.net/img/0353b2b658/width2048/d6b_385191449147790820543181209584058955202560n.jpeg" alt="about us" class="img-fluid w-100 ">
                </div>
            </div>
            <div class="col-lg-5 m-auto wow fadeInRight">
                <div class="about_us_2_text">
                    <h5>about us</h5>
                    <h2>Goldianik Enterprise</h2>
                    <p>Welcome to Goldianik Enterprise, where culinary excellence meets heartfelt hospitality! We are more than just a dining
                    experience; we are a celebration of flavours, a symphony of tastes, and a haven for food enthusiasts.</p>
                    <ul>
                        <li>Location-based services</li>
                        <li>Food Items management</li>
                        <li>Customer feedback portal</li>
                        <li>Table reservation</li>
                    </ul>
                    <a class="common_btn" href="#">
                        <span class="icon">
                            <img src="{% static 'images/eye.png' %}" alt="order" class="img-fluid w-100">
                        </span>
                        View All Menu
                    </a>
                    
                </div>
            </div>
        </div>
    </div>

</section>
<section class="about_us_story pt_95 xs_pt_65"  style="background-color:#AB162C; padding-bottom: 50px">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-5 wow fadeInLeft">
                <div class="about_us_story_text">
                    <h2 style="color: white;">Where Every Plate Tells a Nigerian Tale of Flavor and Fun! 🌶️🍛 Ignite Your Taste Buds, Create
                    Moments!</h2>
                    
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about_us_story_img">
                    <div class="row">

                        <div class="col-lg-5 col-sm-6 wow fadeInRight">
                    <style>
                        .responsive-iframe {
                            position: relative;
                            width: 100%;
                            height: 0;
                            padding-bottom: 85.25%;
                            margin-bottom: 5rem;
                            /* 16:9 aspect ratio - adjust as needed */
                        }
                    
                        .responsive-iframe iframe {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 33rem;
                            height: 20rem;
                        }
                    
                        @media screen and (max-width: 800px) {
                    
                            /* Adjust styles for screens with a maximum width of 768px (typical tablets and mobiles) */
                            .responsive-iframe {
                                padding-bottom: 75%;
                                margin-top: 3rem;
                                margin-bottom: 0rem;
                                /* Adjust aspect ratio for smaller screens */
                            }

                            .responsive-iframe iframe {
                            width: 22rem;
                            height: 20rem;
                        }
                        }
                    </style>
                    
                    <div class="responsive-iframe">
                        <iframe
                            src="https://www.facebook.com/plugins/video.php?height=317&href=https%3A%2F%2Fweb.facebook.com%2Fgoldianikenterprise%2Fvideos%2F1737469313440882%2F&show_text=false&width=560&t=0"
                            width="100%" height="100%" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                            >
                        </iframe>
                    </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about_us_story pt_95 xs_pt_65">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-5 wow fadeInLeft">
                <div class="about_us_story_text">
                    <h2>Our Philosophy</h2>
                    <p>At Goldianik Enterprise, we believe that every meal is an opportunity to create lasting memories.</p>
                    <br>
                    <p>Our culinary team
                        meticulously crafts each dish with the finest ingredients, blending innovation with tradition to deliver a symphony
                        of
                        flavours that delight the senses. Whether you're savouring a meal in our cosy eatery or entrusting us with catering
                        your
                        special event, we are committed to exceeding your expectations.
                    </p>
                    <br>
                   
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about_us_story_img">
                    <div class="row">
                        
                        <div class="col-lg-5 col-sm-6 wow fadeInRight">
                            <div class="about_us_story_img_small">
                                <img src="{% static 'images/11.jpeg' %}" alt="story" class="img-fluid w-100">
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-6 wow fadeInLeft">
                            <div class="about_us_story_img_small">
                                <img src="{% static 'images/22.jpeg' %}" alt="story" class="img-fluid w-100">
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--==========================
        ABOUT START
    ===========================-->
<section class="about_us pt_120 xs_pt_100 pb_120 xs_pb_100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-sm-8 wow fadeInUp">
                        <div class="about_us_story_img_large">
                            <img src="{% static 'images/111.jpg' %}" alt="about us" class="img-fluid w-100">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-8 wow fadeInDown">
                        <div class="about_us_story_img_small">
                            <img src="{% static 'images/222.jpg' %}" alt="about us" class="img-fluid w-100">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-1 m-auto wow fadeInRight">
                <div class="about_text">
                    <div class="section_heading heading_left">
                        <h2>Our Story</h2>
                        <p>Established with a passion for bringing people together over exceptional food, Goldianik Enterprise has been a labour of
                        love from the very beginning.</p>
                    </div>
                    <br>
                    <p>What started as a humble eatery has blossomed into a full-fledged catering service
                    dedicated to creating unforgettable moments through the art of gastronomy.
                    </p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>
<!--==========================
        ABOUT END
    ===========================-->

<section class="why_choose_us mt_5 xs_mt_75">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-5 col-lg-5 wow fadeInUp">
                <div class="why_choose_text">
                    
                    <h2>Join us on this culinary journey</h2>
                    <p>We invite you to join us on a culinary journey that transcends the ordinary. Whether you're seeking a delightful meal at
                    our eatery or planning a memorable event, Goldianik Enterprise is here to turn every moment into a masterpiece.</p>
                    <a class="common_btn" href="#">
                        <span class="icon">
                            <img src="{% static 'images/eye.png' %}" alt="order" class="img-fluid w-100">
                        </span>
                        View All details
                    </a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <div class="row">
                    <div class="col-xl-6 col-md-6 wow fadeInLeft">
                        <div class="why_choose_item">
                            <div class="icon">
                                <img src="{% static 'images/sponsor_img_5.png' %}" alt="why Choose" class="img-fluid w-100">
                            </div>
                            <h3>Fresh and Locally-Sourced:</h3>
                            <p>We take pride in sourcing our ingredients locally to ensure freshness and support our community.</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 wow fadeInRight">
                        <div class="why_choose_item">
                            <div class="icon">
                                <img src="{% static 'images/sponsor_img_5.png' %}" alt="why Choose" class="img-fluid w-100">
                            </div>
                            <h3>Passionate Team</h3>
                            <p>From the chefs in the kitchen to the servers on the floor, we are dedicated to making your experience exceptional.</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 wow fadeInLeft">
                        <div class="why_choose_item">
                            <div class="icon">
                                <img src="{% static 'images/sponsor_img_5.png' %}" alt="why Choose" class="img-fluid w-100">
                            </div>
                            <h3>Customized Catering:</h3>
                            <p>Our catering services are tailored to your unique preferences and event needs. From intimate gatherings to grand
                            celebrations, we bring our culinary expertise to your table.</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 wow fadeInRight">
                        <div class="why_choose_item">
                            <div class="icon">
                                <img src="{% static 'images/sponsor_img_5.png' %}" alt="why Choose" class="img-fluid w-100">
                            </div>
                            <h3>Swift Online Order:</h3>
                            <p>Our team is driven by a shared passion for food and a commitment to delivering unparalleled service. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






<!--==========================
        ABOUT US PAGE 02 END
    ===========================-->

{% endblock %}