<!--==========================
        HEADER START 
    ===========================-->
{% load static %}
<header>
    <div class="container container_large">
        <div class="row">
            <div class="col-xl-6 col-md-6 d-none d-md-block">
                <div class="header_left">
                    <p><i class="far fa-truck"></i> Online order ends 06:30PM, store closes 08:30PM</p>
                </div>
            </div>
            <div class="col-xl-6 col-md-6">
                <div class="header_right">
                    <ul>
                        <li style="color: white;">English</li>
                        <li>
                            {% if user.is_authenticated %}
                            <a href="#">
                                <span><img src="{% static 'images/user_icon.png' %}" alt="user" class="img-fluid w-100"></span>
                                {{ user.email }}
                            </a>
                            {% else %}
                            <a href="{% url 'authorization:login' %}">
                                <span><img src="{% static 'images/user_icon.png' %}" alt="user" class="img-fluid w-100"></span>
                                My Account
                            </a>
                            {% endif %}
                        </li>
                        
                        <li style="color: white;">
                            {% if user.is_authenticated %}
                            <a href="{% url 'authorization:logout' %}"> logout</a>
                            {% else %}
                            <a href="{% url 'authorization:login' %}"></a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!--==========================
        HEADER END
    ===========================-->
