{%extends 'base.html'%}
{% load static %}
{%block content%}
<section class=" sign_in">
    <div class="row justify-content-center">

        <div class="col-xl-6 col-md-10 col-lg-6 wow fadeInRight">
            <div class="sign_in_form">
                <form method="post" >
                    {% csrf_token %}
                    <h2>Password Reset Confirm</h2>

                    {% for field in form %}
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                    <small>{{ field.errors|striptags }}</small>
                    {% endif %}
                    {% endfor %}
                    <br>
                    <br>
                    <div>
                        <button type="submit" class="common_btn">Reset Password</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>


{%endblock content%}